{% extends 'base.html.twig' %}
{% block title %}Recettes{% endblock %}
{% block body %}
<div class="container mt-4">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row mb-4">
            <div class="col">
                <a href="{{ path('game.new') }}" class="btn btn-success">Créer un nouveau jeu</a>
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        {% for game in games %}
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card h-100">
                    {% if game.image %}
                        <img src="{{ asset('uploads/images/' ~ game.image) }}" class="card-img-top" alt="{{ game.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ game.title }}</h5>
                        <p class="card-text">{{ game.description|slice(0, 100) ~ '...' }}</p>
                        <a href="{{ path('game.show', {id: game.id, slug: game.slug}) }}" class="btn btn-primary">Voir</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('game.edit', {id: game.id}) }}" class="btn btn-warning">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
