{% extends 'base.html.twig' %}

{% block title %}Jeux: {{ game.title }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card h-100">
                {% if game.image %}
                    <img src="{{ asset('uploads/images/' ~ game.image) }}" class="card-img-top" alt="{{ game.title }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title">{{ game.title }}</h1>
                    <div class="mt-auto">
                        <p class="card-text">{{ game.content | nl2br }}</p>
                        <a href="{{ path('game.index') }}" class="btn btn-secondary">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
