{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Réservations</h1>
    <div class="mb-3">
        <a href="{{ path('booking.select') }}" class="btn btn-primary">Réserver un ordinateur</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Utilisateur</th>
                <th>Ordinateur</th>
                <th>Heure de début</th>
                <th>H eure de fin</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.user.pseudo }}</td>
                    <td>{{ booking.computer.name }}</td>
                    <td>{{ booking.startTime|date('d/m/Y H:i') }}</td>
                    <td>{{ booking.endTime|date('d/m/Y H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Aucune réservation pour le moment.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
